* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.pure:valid {
    background-color: #74c7b8;
}

.pure:invalid {
    background-color: #ef4f4f;
}

.not-focus:valid:not(:focus) {
    background-color: #74c7b8;
}

.not-focus:not(:focus) {
    background-color: #ef4f4f;
}

span.error-message {
    display: none;
}

.error:invalid:not(:focus) + span.error-message {
    display: block;
}

.fieldset:invalid {
    border-color: #ef4f4f;
}

.fieldset:valid {
    border-color: #74c7b8;
}

.fieldset:invalid:before {
    content: 'It is not your fault, but no.';
}

.fieldset:valid:before {
    content: 'Solid answer!';
}