* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

input[type=email]:valid {
    background-color: #74c7b8;
}

input[type=email]:invalid {
    background-color: #ef4f4f;
}