* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

:root {
    --primary: #6185B5;
    --secondary: #98BAED;
    --valid: #74c7b8;
    --invalid: #ef4f4f;
    --primary-text: white;
    --secondary-text: black;
}

body{
    background-color: var(--secondary);
    overflow: hidden;
}

header nav {
    background-color: var(--primary);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav a {
    display: block;
    padding: 0.5rem 0.5rem;
    color: white;
    background-color: var(--primary);
    font-weight: bold;
    text-decoration: none;
    line-height: 6.2rem;
    transition: .3s;
}

header nav a.active, header nav a:hover {
    background-color: var(--secondary);
}

label{
    display: none;
}

fieldset {
    border: none;
}

.doelwit-2, .doelwit-3, .doelwit-4 {
    display: none;
}

.doelwit-1:valid + .doelwit-2{
    display: block;
}

.doelwit-2:valid + .doelwit-3{
    display: block;
}

.doelwit-3:valid + .doelwit-4{
    display: block;
}

form {
    height: 100vh;
}

input{
    width: 8rem;
}

span {
    display: none;
}

form:valid {
    background-image: url(./images/celebration.gif);
}

.doelwit-1:valid + span {
    background-color: var(--valid);
    display: block;
}

.doelwit-1 {
    animation: doelwit-1 5s linear infinite;
}

@keyframes doelwit-1 {
    0% {transform: translate(0%, 600%);}
    50% {transform: translate(100%, 0%);}
    100% {transform: translate(0%, 600%);}
}

.doelwit-2 {
    animation: doelwit-2 5s linear infinite;
}

@keyframes doelwit-2 {
    0% {transform: translate(20%, -20%);}
    50% {transform: translate(100%, 80%);}
    100% {transform: translate(0%, 20%);}
}

.doelwit-3 {
    animation: doelwit-3 5s linear infinite;
}

@keyframes doelwit-3 {
    0% {transform: translate(100%, 100%);}
    50% {transform: translate(100%, 0%);}
    100% {transform: translate(0%, 100%);}
}

.doelwit-4 {
    animation: doelwit-4 5s linear infinite;
}

@keyframes doelwit-4 {
    0% {transform: translate(0%, 100%);}
    50% {transform: translate(100%, 0%);}
    100% {transform: translate(0%, 100%);}
}