* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #586598;
    --red: #E34445;
}

body {
    overflow-x: hidden;
    /* border: 1.5rem  #e4bd34; */
    border-top: 1.5rem #e4bd34;
    border-left: 1.5rem #e4bd34;
    border-bottom: 1.5rem #e4bd34;
    border-style: groove;
}

header {
    position: relative;
	overflow: hidden;
    width: 100vw;
    height: 25vh;
    background-color: white;
    z-index: 100;
    font-family: 'Lora', serif;
}

header h2 {
    text-align: center;
}

header h1 {
    text-align: center;
    font-size: 10rem;
}

section.dishes {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.dishes article {
    position: relative;
    width: 320px;
    background: violet;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

section.dishes article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--red) 0deg, var(--blue) 10deg, 25deg, var(--red) 35deg 55deg, var(--blue) 65deg 85deg, var(--red) 95deg 115deg, var(--blue) 125deg 145deg, var(--red) 155deg 175deg, var(--blue) 185deg 205deg, var(--red) 215deg 235deg, var(--blue) 245deg, 265deg, var(--red) 275deg 295deg, var(--blue) 305deg 325deg, var(--red) 335deg);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

section.dishes article:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

section.dishes article:hover h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #fff;
}

section.dishes article:hover span {
    position: relative;
    font-size: 1.5em;
    z-index: 1000;
    color: #fff;
}

section.dishes article:hover p {
    position: relative;
    font-size: 1.5em;
    z-index: 1000;
    color: #fff;
}

.sun {
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: url('/images/strop.png'), auto;
}

.inner-sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--red);
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    z-index: -100;
}

.outer-sun {
    --aantalTaartpunten: 12;
    position: absolute;
    width: 120vw;
    height: 120vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: conic-gradient(var(--red) 0deg, var(--blue) 10deg, 25deg, var(--red) 35deg 55deg, var(--blue) 65deg 85deg, var(--red) 95deg 115deg, var(--blue) 125deg 145deg, var(--red) 155deg 175deg, var(--blue) 185deg 205deg, var(--red) 215deg 235deg, var(--blue) 245deg, 265deg, var(--red) 275deg 295deg, var(--blue) 305deg 325deg, var(--red) 335deg);
    z-index: -100;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hanging-man {
    position: fixed;
    left: 50%;
    transform: translateY(-130%);
    z-index: -1;
    animation: dropDown 10s ease-in-out 2s;
}

@keyframes dropDown {
    0% {
        transform: translateY(-130%);
    }
    10% {
        transform: translateY(-50%);
    }
    20% {
        transform: translateY(-60%);
    }
    30% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(-57%);
    }
    50% {
        transform: translateY(-50%);
    }
    60% {
        transform: translateY(-55%);
    }
    70% {
        transform: translateY(-50%);
    }
    80% {
        transform: translateY(-53%);
    }
    90% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-130%);
    }
}

::selection {
    color: var(--red);
    background-color: var(--blue);
}

/* width */

::-webkit-scrollbar {
    width: 20px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e4bd34;
    background: #D3AD30;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #e4bd34;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #907720;
}